# Toronto Neighborhoods clustering

Firstly we need to scrap the wikipedia table and generate a dataframe

## section 1

In [1]:
#importing necessary libraries
from bs4 import BeautifulSoup
import lxml
import requests
import pandas as pd

In [2]:
#storing the html code of table as text from the link
source=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup=BeautifulSoup(source,'lxml')
table=soup.find('table')

Scrapped the table by getting each row individually to practice web scrapping. Also could use read_html() function to directly read a wiki table into dataframe

In [3]:
#getting column headers
columns=[]
for column_name in table.find_all('th'):
    columns.append(column_name.text.split('\n')[0])
df=pd.DataFrame(columns=columns)

In [4]:
#getting the data from the rows of table
column1=[]
column2=[]
column3=[]

for data in table.tbody.find_all('tr'):
    try:
        column1.append(data.find_all('td')[0].text.split('\n')[0])
        column2.append(data.find_all('td')[1].text.split('\n')[0])
        column3.append(data.find_all('td')[2].text.split('\n')[0])
    except:
        pass
df['Postal code']=column1
df['Borough']=column2
df['Neighborhood']=column3

In [5]:
#cleaning table by removing empty data
df=df[df['Borough']!='Not assigned'].reset_index().drop('index',axis=1)

In [6]:
#replacing '/' with ',' in neighborhood
column3=[]
for data in df['Neighborhood']:
    column3.append(','.join(map(str,data.split('/'))))
df['Neighborhood']=column3

In [7]:
df.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [8]:
df.shape

(103, 3)